[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProbeDeveloper"]
	path = ProbeDeveloper
	url = https://github.com/cran/ProbeDeveloper
[submodule "StepReg"]
	path = StepReg
	url = https://github.com/junhuili1017/stepreg
[submodule "TmCalculator"]
	path = TmCalculator
	url = https://github.com/junhuili1017/tmcalculator
[submodule "gtWAS"]
	path = gtWAS
	url = https://github.com/cran/gtWAS
